[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics"
start = "python src/generator.py"

[packages]
pandas = "*"
requests-oauthlib = "*"
mecab-python3 = "*"
tweepy = "*"
numpy = "*"
apscheduler = "*"
requests = "*"
flask = "*"
flask-cors ="*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
